* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

body {
  padding: 1rem;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #0f0f0f;
  font-weight: 500;
}

.nav-link::before {
  content: "";
  padding: 0.5px;
  width: 0%;
  position: absolute;
  bottom: -2px;
  transition: all ease-in 0.3s;
}

.nav-link:hover::before,
.nav-link:active::before {
  width: 40%;
  background-color: #0f0f0f;
}

.hero-section-header {
  margin-top: 40vh;
  display: flex;
  justify-content: flex-end;
}

.hero-section-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-txt-block-3 {
  margin-right: 8rem;
}

.hero-section-header > h6,
.hero-section-footer > h6 {
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #0f0f0f;
}

.headline-txt {
  margin: 12vh 0vh;
}

.headline-txt > h1 {
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14vw;
  font-weight: 500;
  color: #0f0f0f;
  line-height: 0.85;
}

.txt-gold {
  color: #d1c9bc;
}

.intro-text-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 10vh;
}

.intro-text-container {
  width: 60%;
  font-size: 1.8rem;
  font-weight: 400;
  padding-right: 5%;
  line-height: 1.4;
  letter-spacing: 2px;
  color: #0f0f0f;
}

.link {
  color: #0f0f0f;
  text-underline-offset: 4px;
}

/* --------------------- project section */

.project-section {
  margin-top: 10vh;
  padding: 2rem;
}

.project {
  padding: 4vh 0vh;
  width: 100%;
}

.project-card {
  position: relative;
}

.project-card > h2 {
  cursor: pointer;
  font-size: 8vw;
  font-weight: 600;
  color: #0f0f0f;
  transition: all ease-in 0.3s;
}

.project-thumbnail {
  opacity: 0;
  position: absolute;
  top: -50%;
  right: 5%;
  z-index: -1;
}

.project-thumbnail > img {
  width: 60vw;
  height: 70vh;
  border-radius: 15px;
  rotate: 3deg;
}

.project:hover .project-thumbnail {
  opacity: 1;
}

/*  -------------- section-home-time --------------- */

.section-home-time {
  margin-top: 10vh;
}

.smiley-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.smiley {
  height: 20vh;
  rotate: 180deg;
}
